*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mendesplegable{
    display:none;
}

main{
    font-family: 'Arial', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    text-align: center;
}

/*****************************************/
/* estilo para barra de navegacion*/
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: brown;    
    margin-left:auto;
    margin-right:auto;    
    color: white;
    padding: 10px;
    text-align: center;
    height: 20vh;
}
/*estilo para el logo*/
header img{
    max-width: 100px;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
}
nav{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}




/*****************************************/
/* Estilos para una imagen*/
#tarjeta{
    margin-top:2px;
    margin-bottom: 2px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;
    padding: 2vw;
    background-color: blueviolet;
    text-align: justify;
    font-size: 1vw;
}

#tarjeta img{
    width: 100%;
    height: auto;
    object-fit: cover;    
}

/***************************/
/* Autoajuste para imagenes*/
.contenedor {
    width: 300px;
    height: 200px;
    border: 2px solid #050505;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
}

.imagen-fill {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.imagen-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imagen-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagen-none {
    width: 100%;
    height: 100%;
    object-fit: none;
}

.imagen-scale-down {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
}

/************************************************/
/*  ejemplo de un contenedor flex de imagenes
    con ajuste de tamaño de imagen
*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: brown;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
}

.flex-item {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px solid #333;
}

.flex-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/***********************************/
/*  ejemplo de un contenedor grid de imagenes
    con ajuste de tamaño de imagen
*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 20px; 
    justify-content: center;
    background-color: rgb(0, 242, 40);
    padding: 10px; 
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
}

.grid-item {
    width: 200px;
    height: 200px;
    border: 2px solid #333;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}